C:\Users\Aaditya Khanal\OneDrive\Desktop\posture-recognition\video_dataset/video_dataset
C:\Users\Aaditya Khanal\OneDrive\Desktop\posture-recognition\image_dataset
C:\Users\Aaditya Khanal\OneDrive\Desktop\posture-recognition\model-demo\test-images